$gray:rgb(146, 158, 169);
$danger:red;

.formProduct{
    margin: 0;

    .pad{
        padding: 25px 15px 0px 15px;

        .formGroup{
            margin-bottom: 1rem;
            position: relative;
    
            .nameLabel{
                font-size: 13px;
                font-weight: 500;
                font-family: 'IranSans';
            }
    
            svg{
                position: absolute;
                bottom: 15%;
                right: 15px;
                color: $gray;
            }
    
            input{
                margin-top: .7rem;
                border-radius: 10px;
                padding-right: 2.5rem;
            }
            input:focus{
                color: #495057;
                background-color: #fff;
                border-color: #3ABAF5;
                outline: 0;
                box-shadow: 0 0 0 0.2rem #2e467142;
            }
    
            select{
                margin-top: .7rem;
                border-radius: 10px;
                padding-right: 2.5rem;
            }
            select:focus{
                color: #495057;
                background-color: #fff;
                border-color: #3ABAF5;
                outline: 0;
                box-shadow: 0 0 0 0.2rem #2e467142;
            }
        }
    }

}

.justifyBtn{
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;

    button{
        width: 100%;
        font-size: 14px;
        font-weight: bold;
        font-family: 'IranSans';
        padding: 1rem;
    }
}

.error{
    font-size: 11px;
    font-family: 'IranSans';
    margin-block-start: 0 !important;
    color: $danger;
    font-weight: bold;
    margin-right: .5rem;
}