$primary1:#3ABAF5;
$primary2:#3A69E6;
$white:#fff;

.manageInvo{
    border: 1px solid transparent;
    background-color: $primary2;
    text-decoration: none;
    padding: 1.5rem;
    text-decoration: none;
    display: inline-block;
    font-family: IranSans;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
    color: $white;
    border-radius: 10px;
}

.requestInvo{
    border: 1px solid transparent;
    background-color: $primary1;
    padding: 1.5rem;
    text-decoration: none;
    display: inline-block;
    font-family: IranSans;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
    color: $white;
    border-radius: 10px;
}