$white:#fff;

.bg{
    max-width: 100%;
    position: relative;
    filter: grayscale(30%);
}

@media only screen and (min-width: 600px) {
    .bg{
      height: 667px !important;
    }
}

@media only screen and (max-width: 600px) {
    .bg{
      height: 100vh !important;
      position: fixed;
      max-width: none;
    }
}

.Welcome{
    min-height: 667px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: grid;
    align-items: center;
    color: $white;
    padding: 0rem 1rem;

    .content{
        z-index: 100000;

        .centerImg{
            display: flex;
            justify-content: center;
            margin-bottom: .3rem;

            #heart {
                width: 200px;
                height: 200px;
                animation: heartbeat 2.5s infinite;
            }

            #heart:before, #heart:after {
                // position: absolute;
                -moz-border-radius: 50px 50px 0 0;
                border-radius: 50px 50px 0 0;
                -webkit-transform: rotate(-45deg);
                   -moz-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                     -o-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                -webkit-transform-origin: 0 100%;
                   -moz-transform-origin: 0 100%;
                    -ms-transform-origin: 0 100%;
                     -o-transform-origin: 0 100%;
                        transform-origin: 0 100%;
            }
            #heart:after {
                left: 0;
                -webkit-transform: rotate(45deg);
                   -moz-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                     -o-transform: rotate(45deg);
                        transform: rotate(45deg);
                -webkit-transform-origin: 100% 100%;
                   -moz-transform-origin: 100% 100%;
                    -ms-transform-origin: 100% 100%;
                     -o-transform-origin: 100% 100%;
                        transform-origin :100% 100%;
            }
            
            
            
            @keyframes heartbeat
            {
              0%
              {
                transform: scale( .75 );
              }
              20%
              {
                transform: scale( 1 );
              }
              40%
              {
                transform: scale( .75 );
              }
              60%
              {
                transform: scale( 1 );
              }
              80%
              {
                transform: scale( .75 );
              }
              100%
              {
                transform: scale( .75 );
              }
            }
        }


        .bottomContent{
            width: 60%;
            margin: 0 auto;


            a{
                font-family: 'IranSans';
                background-color: #224ec8;
                border-color: #224ec8;
                color: #fff;
                width: 100%;
                padding: .7rem;
                margin-top: 1rem;
                border-radius: 10px;
                font-weight: bold;
                position: relative;
                text-decoration: none;
                font-size: 15px;
    
                svg{
                    position: absolute;
                    left: 1rem;
                    top: 1rem;
                    font-size: 15px;
                }
            }
    
        }


    }



}

@media only screen and (max-width: 600px) {
    .Welcome{
        min-height: 100vh;
    }
}

.border{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;


    p{
        font-size: 14px;
        margin-block: 0;
        color: #61DAFB;
        font-family: 'IranSans';
        font-weight: bold;
    }
    
}