.card{
    background-color: #fff;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    padding: 1.2rem;
    border-radius: 10px;

    p{
        text-align: justify;
        font-size: 14px;
        line-height: 1.8;
    }
}