$navyBlue:#121D32;
$white:#fff;
$dark:#000;

.search{
    margin-bottom: 1rem;
    position: relative;
    margin-top: 0;

    svg{
        position: absolute;
        bottom: 30%;
        right: 8px;
        color: rgb(146, 158, 169);
    }

    ::placeholder{
        font-family: 'IranSans';
        font-size: 14px;
    }

    input{
        background-color: #F3F3F3;
        border-bottom: 2px solid #ced4da;
        padding-right: 1.7rem;
        border-radius: 20px;
        border-top: 0;
        border-right: 0;
        border-left: 0;
    }


    input:focus{
        color: #495057;
        outline: 0;
        // box-shadow: 0 0 0 0.2rem #2e467142;
    }
}

.row{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    
    .col6{

        flex: 0 0 auto;
        width: 100%;

        .card{
            background: #fff;
            padding: 1rem;
            border-radius: 20px;
            text-align: center;
            color: $white;
            margin-bottom: 1rem;
            box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075)!important;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .content{
                display: flex;
                align-items: center;

                span{
                    background: #3A69E6;
                    border: 1px solid #3A69E6;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    margin-left: 10px;

                    svg{
                        color: #fff;
                        font-size: 20px;
                    }
                }

                p{
                    color:$dark;
                    margin: 0;
                    font-weight: bold;
                    font-size: 12px;
                }
            }

            .manage{
                position: relative;

                display: flex;
                align-items: center;

                .link , span {
                    background: #3A69E6;
                    border: 1px solid #3A69E6;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    margin-left: 10px;
                    cursor: pointer;

                    svg{
                        color: #fff;
                        font-size: 20px;
                    }
                }

            }
        }
    }
}