.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 8%) 0px 0.125rem 0.25rem;
    background-color: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    a{
        position: relative;

        svg{
            font-size: 20px;
            margin-top: 4px;

        }

        .bage{
            width: 18px;
            height: 18px;
            border: 1px solid red;
            background-color: red;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            top: -5px;
            right: 3px;

            small{
                font-size: 10px;
                font-weight: bold;
                color: #fff;
                font-family: vazir;
            }
        }
    }
}
