$navyBlue:#121D32;
$white:#fff;
$dark:#000;
$light1:#F3F3F3;
$light2:#ced4da;
$gray1:rgb(146, 158, 169);
$gray2:#495057;
$blue:#3A69E6;
$danger:red;
$colorOrginal:#25577a;


.search{
    margin-bottom: 1rem;
    position: relative;
    margin-top: 0;

    svg{
        position: absolute;
        bottom: 30%;
        right: 8px;
        color: $gray1;
    }

    ::placeholder{
        font-family: 'IranSans';
        font-size: 14px;
    }

    input{
        background-color: $light1;
        border-bottom: 2px solid $light2;
        padding-right: 1.7rem;
        border-radius: 20px;
        border-top: 0;
        border-right: 0;
        border-left: 0;
    }


    input:focus{
        color: $gray2;
        outline: 0;
        // box-shadow: 0 0 0 0.2rem #2e467142;
    }
}

.row{

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    
    .col6{

        flex: 0 0 auto;
        width: 100%;

        .card{

            background: $white;
            padding: 1rem;
            border-radius: 20px;
            text-align: center;
            color: $white;
            margin-bottom: 1rem;
            box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075)!important;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .content{
                display: flex;
                align-items: center;

                span{
                    background: $colorOrginal;
                    border: 1px solid $colorOrginal;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    margin-left: 10px;

                    svg{
                        color: $white;
                        font-size: 20px;
                    }
                }

                p{
                    color:$dark;
                    margin: 0;
                    font-weight: bold;
                    font-size: 12px;
                    font-family: vazir;
                }
            }

            .manage{
                position: relative;
                display: flex;
                align-items: center;
                

                .link , span{
                    background: $blue;
                    border: 1px solid $blue;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    margin-left: 10px;
                    cursor: pointer;

                    svg{
                        color: $white;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

.formGroup{
    margin-bottom: 1rem;
    position: relative;
    margin-top: 0;

    input{
        margin-top: .7rem;
        border-radius: 10px;
        padding-right: 2rem;
        font-family: 'IranSans';
    }
    input:focus{
        color: $gray2;
        background-color: $white;
        border-color: #3ABAF5;
        outline: 0;
        box-shadow: 0 0 0 0.2rem #2e467142;
    }

    svg{
        position: absolute;
        bottom: 25%;
        right: 8px;
        color: $gray1;
    }

    ::placeholder{
        font-size: 14px;
    }

}
.error{
    display: flex;
    justify-content: start;
    font-size: 11px;
    font-family: 'IranSans';
    margin-block-start: 0 !important;
    color: $danger !important;
    font-weight: bold;
    margin-right: .5rem;
}