.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 8%) 0px 0.125rem 0.25rem;
    background-color: #fff;

    .back{
        display: flex;
        align-items: center;
        font-weight: bold;
        cursor: pointer;

        p{
            margin-block: 0;
            margin-left: 5px;
            font-size: 13px;
        }
    }

    .welcome{
        margin-left: auto;

        p{
            margin-block: 0;
            margin-left: 5px;
            font-size: 13px;
            font-weight: bold;
        }
    }
}