$primary1:#3ABAF5;
$primary2:#3A69E6;
$white:#fff;
$gray:#324A5D;


.createPro{
    border: 1px solid transparent;
    background-color: $primary1;
    padding: 1.5rem;
    text-decoration: none;
    display: inline-block;
    font-family: IranSans;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
    color: $white;
    border-radius: 10px;
}

.managePro{
    border: 1px solid transparent;
    background-color: $primary2;
    text-decoration: none;
    padding: 1.5rem;
    text-decoration: none;
    display: inline-block;
    font-family: IranSans;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
    color: $white;
    border-radius: 10px;
}

.row{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .cardOne{
        flex: 0 auto;
        width: 48%;
        background: $white;
        text-decoration: none;
        text-align: center;
        box-shadow: rgb(0 0 0 / 8%) 0px 0.125rem 0.25rem;


        .content{
            padding: 1rem;

            p{
                font-size: 12px;
                font-weight: bold;
                color: #324A5D;

            }

            img{
                width: 100px;
                height: 100px;
            }

        }
    }
    
    .cardTwo{
        flex: 0 auto;
        width: 48%;
        background: $white;
        text-decoration: none;
        text-align: center;
        box-shadow: rgb(0 0 0 / 8%) 0px 0.125rem 0.25rem;



        .content{
            padding: 1rem;

            p{
                font-size: 12px;
                font-weight: bold;
                color: $gray;
            }

            img{
                width: 100px;
                height: 100px;
            }

        }
        
    }
}