$bgWhite:#fff;
$primary:#36A2EB;
$darks:#222222;
$gray:#8B8B8B;

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1rem;

    .col6{
        flex: 0 auto;
        width: 48%;

        a{
            text-decoration: none;
            
            .card{
                background-color: $bgWhite;
                padding: .75rem;
                box-shadow: rgb(0 0 0 / 8%) 0px 0.125rem 0.25rem;
                border-radius: 15px;
                text-align: center;
                
                
    
                svg{
                    font-size: 30px;
                    color: $primary;
                }
    
                p:nth-child(even){
                    margin-block: .3rem;
                    color: $darks;
                    font-weight: bolder;
                    font-size: 11px;
    
                }
                p:nth-child(odd){
                    margin-block: 0;
                    color: $gray;
                    font-size: 11px;
                    font-weight: lighter;
                    font-family: vazir;
                }
    
            }

        }

    }
}

.chart{
    background-color: $bgWhite;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    height: 300px;
}