:root{
  
}

body {
  margin: 0;
  height: 100vh;
}

@media only screen and (min-width: 600px) {
  body{
    display: flex;
    justify-content: center;
    align-items: center;

  }
}

#root{
  width: 100%;
  min-height: 100vh;
}

@media only screen and (min-width: 600px) {
  #root{
    max-width: 400px;
    min-height: 667px !important;

  }
}