.row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;


    .col6{
        flex: 0 auto;
        width: 100%;

        .card{
            background-color: #D0E2FF;
            padding: 1rem;
            border: 1px solid #b3cef9;

            span{
                height: 8px;
                width: 8px;
                background-color: green;
                border-radius: 50%;
                display: inline-block;
                
            }

            a{
                text-decoration: none;
                font-size: 15px;
                color: #51555A;
                padding-right: 10px;
                font-weight: 300;
            }
        }
    }
}